﻿@page "/"
@namespace MU_games_website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-Universe Games</title>
    <base href="~/" />
    <link rel="icon" href="~/favicon.ico" />
    <!--Basic styles-->
        <!--Media base-->
            <link href="~/css/base/decoration-screen.css" rel="stylesheet" media="screen"/>
        <!--Media desktop-->
            <link href="~/css/desktop/decoration-desktop.css" rel="stylesheet"
              media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
            <link href="~/css/desktop/layout-desktop.css" rel="stylesheet"
              media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
        <!--Media portable-->
            <!--Portrait-->
                <link href="~/css/portable media/portrait/decoration-portable-portrait.css" rel="stylesheet"
                media="screen and (min-height:1280px) and (max-height:3840px) and (orientation: portrait)" />
                <link href="~/css/portable media/portrait/decoration-portable-portrait.css" rel="stylesheet"
                media="screen and (min-height:1280px) and (max-height:3840px) and (orientation: portrait)" />
            <!--Landscape-->
                <link href="~/css/portable media/landscape/decoration-portable-landscape.css" rel="stylesheet"
                media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
                <link href="~/css/portable media/landscape/decoration-portable-landscape.css" rel="stylesheet"
                media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
    <!--Minimizes styles-->
        <!--Media base-->
            <link href="css/base/decoration-screen.min.css" rel="stylesheet" media="screen"/>
        <!--Media desktop-->
            <link href="css/desktop/decoration-desktop.min.css" rel="stylesheet"
              media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
            <link href="css/desktop/layout-desktop.min.css" rel="stylesheet"
              media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
        <!--Media portable-->
            <!--Portrait-->
               <link href="~/css/portable media/portrait/decoration-portable-portrait.min.css" rel="stylesheet"
                media="screen and (min-height:1280px) and (max-height:3840px) and (orientation: portrait)" />
                <link href="~/css/portable media/portrait/decoration-portable-portrait.min.css" rel="stylesheet"
                media="screen and (min-height:1280px) and (max-height:3840px) and (orientation: portrait)" />
            <!--Landscape-->
                <link href="~/css/portable media/landscape/decoration-portable-landscape.min.css" rel="stylesheet"
                media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
                <link href="~/css/portable media/landscape/decoration-portable-landscape.min.css" rel="stylesheet"
                media="screen and (min-width:1280px) and (max-width:3840px) and (orientation: landscape)" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
