﻿@page "/auth"
@inject AccountService Authentificator
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
<div style="display: @AuthDisplayMode;">
  <EditForm id="auhtorization" Model="Authentificator" OnValidSubmit="@Authorize">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>Имя пользователя:</h3>
    <InputText id="login" @bind-Value="Authentificator.Login"/>
    <h3>Пароль:</h3>
    <InputText id="password" type="password"  @bind-Value="Authentificator.Password" />
    <button type="submit">Войти</button>
    <button type="button" @onclick="reg_toggler">Зарегистрироваться</button>
    <button type="reset">Очистить Форму</button>
  </EditForm>
</div>
<div style="display: @RegDisplayMode;">
  <EditForm id="registration" Model="Authentificator" OnValidSubmit="@Register">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>Введите имя пользователя:</h3>
    <InputText id="login" @bind-Value="Authentificator.Login"/>
    <h3>Введите пароль:</h3>
    <InputText id="password1" type="password" @bind-Value="Authentificator.Password"/>
    <button type="submit" @onclick="reg_toggler">Зарегистрировать</button>
    <button type="reset">Очистить Форму</button>
  </EditForm>
</div>
@code {
  bool auth_toggle=true;
  bool reg_toggle=false;
  string AuthDisplayMode=> auth_toggle ? "block" : "none";
  string RegDisplayMode=> reg_toggle ? "block" : "none";
  void reg_toggler()
  {
    auth_toggle=!auth_toggle;
    reg_toggle=!reg_toggle;
  }
  private async void Authorize()
  {
    await LocalStorage.SetItemAsync("AuthorizedLogin", Authentificator.Login);
    await LocalStorage.SetItemAsync("IsAuthorized",await Authentificator.AuthorizeAccountAsync());
    NavigationManager.NavigateTo("/"); 
  }
  void Register()=>Authentificator.RegisterAccount();
}
