﻿@page "/forum"
@inject ThreadService Threads
@inject ILocalStorageService LocalStorage
<meta charset="utf-8"/>
<h1>Форум</h1>
<dl>
    @foreach(var thread in Threads.GetAllThreadsAsync().Result)
    {
        string link="/thread/"+thread.Name;
        
            <NavLink href="@link">
            <dt><strong>@thread.Name</strong></dt>
            </NavLink><br>
            <dd>
                Тема: @thread.Description<br>
                Дата создания: @thread.CreationDate<br>
                Создатель" @thread.Author
            </dd>
        
    }
</dl>
<EditForm id="registration" Model="Threads" OnValidSubmit="@NewThread">
    <DataAnnotationsValidator />
    <ValidationSummary /> 
    <h3>Название треда </h3><InputText id=name @bind-Value="Threads.Name"/>
    <h3>Описание треда </h3><InputTextArea id=description @bind-Value="Threads.Description"/>
    <button type="submit">Создать тред</button>
    <button type="reset">Очистить форму</button>
</EditForm>

@code {
    string login;
    void NewThread(){
        Threads.Author=login;
        Threads.AddThreadAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            login= await LocalStorage.GetItemAsync<string>("AuthorizedLogin");
            StateHasChanged();
        }
    }
}
