﻿@page "/"
@inject NewsService NewsProvider

<div class="sideblock">
    <iframe class="discord-widget" src="https://ptb.discordapp.com/widget?id=527883228229402624&theme=dark" allowtransparency="true"></iframe>
    <ul class="nav">
        <li>
            <NavLink href="https://forms.gle/2TgX5bgfHErm74p46" Match="NavLinkMatch.All">
                <button>
                    Заявка на вступление в комманду разработчиков
                </button>
            </NavLink>
        </li>
    </ul>
</div>
@foreach (var news in NewsProvider.GetAllNewsAsync().Result)
{
    <div class="intro">
        <h1><strong>@news.Tittle @news.Date</strong></h1>
        @foreach (var paragraph in news.Text.Split('\t'))
        {
            <p>@paragraph</p>
        }
        @for (int i=0; i!=news.Authors.Split('\t').Count(); i++)
        {
            <h3>&copy;-@news.Authors.Split('\t')[i]</h3>
        }
    </div>
}