﻿@page "/thread"
@page "/thread/{ThreadName}"
@inject MessagingService Messages
@inject ILocalStorageService LocalStorage
@{}
<h1>@ThreadName</h1>
<dl>
    @foreach (var message in Messages.GetThreadAsync().Result)
    {
        <dt><strong>@message.Author @message.MessageDate</strong></dt>
        <dd>@message.Message</dd>
    }
</dl>
<EditForm Model="Messages" OnValidSubmit="@Messages.SendMessageAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputTextArea @bind-Value="Messages.Message"/>
    <button type="submit">Отправить</button>
    <button type="reset">Удалить сообщение</button>
</EditForm>
@code {
    [Parameter]
    public string ThreadName{ get; set;}
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Messages.Thread=ThreadName;
            Messages.Author= await LocalStorage.GetItemAsync<string>("AuthorizedLogin");
            StateHasChanged();
        }
    }
}
