
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.content {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "header header" "nav-sidebar main" "footer footer";
    grid-gap: 15px;
}

header {
    display: flex;
    grid-area: header;
}

main {
    grid-area: main;
    float: left;
}

nav.sidebar {
    height: auto;
}

div.collapse {
    grid-template-areas: "header header" "main main" "footer footer";

    nav.collapse {
        display: none;
    }
}

footer {
    background-color: #ff000098;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    border-radius: 10px;
    float: left;
    grid-area: footer;
}
