﻿$background-body: rgba(0, 0, 0, 0.89);

iframe.discord-widget {
    border: 0px;
    float: right;
}

h3.error {
    color: red;
}

body {
    background-size: 100%;
    background-color: $background-body;
    font-family: 'Liberation Mono';
    font-size: 130%;
}

dl {
    color: white;
}

ul {
    font-family: sans-serif;
}

div.intro {
    background-color: rgba(114, 137, 218, 0.80);
    opacity: 1;
    border-radius: 3%;
    float: left;

    h1 {
        color: rgba(230, 0, 0, 0.75);
    }
}

h1 {
    color: rgba(53, 230, 211, 0.69);
    font-size: 130%;
    text-align: center;
}

h3, h4, h5, h6 {
    font-family: 'sans-serif';
    color: white;
    font-size: 100%;
}

p {
    color: white;
    font-size: 100%;
    margin: 5%;
    text-align: justify;

    strong {
        color: #da0000;
        font-size: 110%;
    }
}

div.sideblock {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 3px;
    float: right;
}

ul.nav {
    list-style-type: none;
    text-align: center;
    li {
        margin-left:0%;
        align-content: center;
    }
}

input{
    display: block;
}
button {
    border-radius: 5px;
    background-color: blue;
    color: red;
    text-align: center;
    padding: 20px 10px 20px 10px;
    display: block;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #0f9d29;
    opacity: 0.86;
    float: left;

    button {
        border-radius: 5px;
        background-color: black;
        color: red;
        text-align: center;
        padding: 20px 10px 20px 10px;
        display: block;
        font-size: 20px;
        margin: 5px;
    }

    :hover {
        background-color: #42fff3;
    }

    :visited {
        color: #ff0000;
    }
}

nav.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

footer {
    background-color: #ff000098;
    text-align: justify;
    font-size: 20px;
    border-radius: 10px;
    float: left;
}

div.content {
    padding-top: 1.1rem;
}

nav.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
