﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>
                Приносим свои извинения, но ожидаемый контент не расположен по этому адресу!<br>
                Данная страница находится на техническом обслуживании или же будет скоро добавлена.
            </p>
            <p>
                Exscuse us but there is nothing at this adress!<br>
                This page on maitenance or will be added soon.
            </p>
        </LayoutView>
    </NotFound>
</Router>
