﻿@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
<div class="content @ContentCssClass">
    <header>
        <button @onclick="@ToggleNavMenu">
            Nav
        </button>
        <h1>Multi-Universe games</h1>
        @if(authorized==true)
        {
            <span></span>
            <h1>@login</h1>
                <button type="button" @onclick="Logout"> Выйти </button>
        }
        else
        {
        <NavLink href="auth" Match="NavLinkMatch.All">
            <button>Войти</button>
        </NavLink>
        }
    </header>

    <nav class="@NavCssClass">
        <NavMenu/>
    </nav>

    <main>
        <div>
            @Body
        </div>
    </main>

    <footer>
        <NavLink href="mailto:astorlmuc@gmail.com?Subject=Site_feedback" Match="NavLinkMatch.All">Связаться с нами.</NavLink>
        <h3>2019-&copy;-Leon Astor</h3>
        <h3>This wasm application is under MIT Licence</h3>
    </footer>
</div>
@code{
    bool collapseNavMenu = false;
    string ContentCssClass => collapseNavMenu ? "collapse" : null;
    string NavCssClass => collapseNavMenu ? "collapse" : "sidebar";
    void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
    bool authorized;
    string login;
    async void Logout()
    {
        await LocalStorage.RemoveItemAsync("AuthorizedLogin");
        await LocalStorage.SetItemAsync("IsAuthorized", false);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            authorized= await LocalStorage.GetItemAsync<bool>("IsAuthorized");
            login= await LocalStorage.GetItemAsync<string>("AuthorizedLogin");
            StateHasChanged();
        }
    }
}