﻿@inject NavigationService Nav
@inject ILocalStorageService LocalStorage


    <ul class="nav">

        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <button>Домашняя Страница</button>
            </NavLink>
        </li>
         @foreach(var link in Nav.GetPublicNavigationLinksAsync().Result)
            {
                <li>
                    <NavLink class="link" href="@link.Adress">
                        <button type="button">@link.Header</button>
                    </NavLink>
                </li>
            }
        @if(authorized==true)
        {
            @foreach(var link in Nav.GetAuthorizedNavigationLinksAsync(login).Result)
            {
                <li>
                    <NavLink class="link" href="@link.Adress">
                        <button type="button">@link.Header</button>
                    </NavLink>
                </li>
            }
        }
    </ul>

@code {
    bool authorized;
    string login;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            authorized= await LocalStorage.GetItemAsync<bool>("IsAuthorized");
            login= await LocalStorage.GetItemAsync<string>("AuthorizedLogin");
            StateHasChanged();
        }
    }
}
