iframe.discord-widget {
  width: 350px;
  height: 500px;
}

div.intro {
  border-radius: 3%;
  float: left;
  height: auto;
  width: 60%;
}

div.sideblock {
  width: 350px;
  height: auto;
}

button.nav {
  width: 75px;
  height: auto;
}

a button {
  width: 250px;
  height: auto;
}

a :visited {
  width: auto;
}
